include LICENSE
include README.md
include CHANGELOG.md
include CONTRIBUTING.md
include requirements.txt
include STRUCTURE.md
recursive-include nhmrs *.py
recursive-include docs *.py
prune tests
global-exclude *.pyc
global-exclude __pycache__
